@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap');
}

#darkmood{
  background-color: black;
}
#darkmood-color{
  color: white;
}
#darkmood-color-cards{
  background-color: black;
  color: wheat;
  border: 1px solid white;
}
#darkmood-footer{
  color: white;
  background-color: black;
  border-top: 1px solid white;
}
#darkmood-color-card{
    background-color: gray;
    color: white;
    border: 1px solid white;
}